# cmake-related
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# objcts
*.o
*.out

# build directories
build*/
debug/
release/

.cache/
